@import '../../mq';

@media #{$desktopMega} {
    @import '../desktop';
    & {
      .footer .phone {
        right: 5.36458vw;
      }
      .footer .logo-text, nav .logo-text {
        left: 5.36458vw;
      }
      .head {
        .col-xl-3 {
          padding-left: 120px;
        }
      }
    }
}
